<!DOCTYPE html>

<html>

 

<head>

                <title>Learning</title>

                <meta charset="UTF-8">

                <style>

                                .item {

                                                padding: 10px;

                                }

                </style>

               

                <link type="text/css" rel="stylesheet" href="css/style.css">

                <script type="text/javascript" src="js/angular.min.js"></script>

                <script type="text/javascript" src="js/http.js"></script>

</head>

 

 

 

 

<body ng-app="notesApp">

 

                <div  ng-controller="MainCtrl as mainCtrl">

                                <h1>Hello Servers</h1>

                                <form name="personForm" ng-submit="mainCtrl.addPerson()">

                                                <input type="text"

                                                                                placeholder="ID"

                                                                                ng-model="mainCtrl.newPerson.id"

                                                                                required>

 

                                                <input type="text"

                                                                                placeholder="Name"

                                                                                ng-model="mainCtrl.newPerson.name"

                                                                                required>

 

                                                <input type="text"

                                                                                placeholder="Location"

                                                                                ng-model="mainCtrl.newPerson.location"

                                                                                required>

 

                                                <input type="submit"

                                                                                value="Add"

                                                                                ng-disabled="personForm.$invalid">

                                </form>

 

                                <div>

                                                <span ng-bind="mainCtrl.person.id"></span>

                                                <span ng-bind="mainCtrl.person.name"></span>

                                                <span ng-bind="mainCtrl.person.location"></span>

                                </div>

 

                                <table>

                                                <tr ng-repeat="person in mainCtrl.persons" >

                                                                <td ng-bind="person.id" class="item"></td>

                                                                <td ng-bind="person.name" class="item"></td>

                                                                <td ng-bind="person.location" class="item"></td>

                                                                <td ng-click="mainCtrl.getPerson(person.id)"><a href="#">{{person.id}}</a></td>

                                                </tr>

                                </table>

 

                               

 

                </div>

 

</div>

 

</body>

 

</html>